.cart {
    >a {
        position: fixed;
        bottom: 5%;
        right: 5%;
        cursor: pointer;
        z-index: 100;
        border-radius: 50%;
        display: block;
        background-color: rgba($primary, .8);
        height: 100px;
        width: 100px;
        &:hover {
            background: lighten( darkblue, 50%);
            box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
        }
        >i {
            font-size: 48px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        >span {
            display: block;
            text-align: center;
            border-radius: 50%;
            font-size: 25px;
            position: absolute;
            background-color: darkblue;
            width: 30px;
            height: 30px;
            line-height: 25px;
            top: 10%;
            right: 10%;
        }
    }
}